In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
get_ipython().magic('matplotlib inline')

In [6]:
import os
os.getcwd()

'C:\\Users\\spnelson\\SF\\Personal Folders\\Spotify'

In [10]:
wiz = pd.read_csv('wiz khalifa data.csv', encoding='cp1252')

In [11]:
wiz.head()

,TITLE,RELEASE,BPM,ENERGY,DANCE,LOUD,VALENCE,LENGTH,ACOUSTIC,POP,ALBUM
0,Boarding Pass,2009,87,88,56,-5,46,2.47,0,43,Flight School
1,Ms. Rightfernow,2009,148,73,82,-8,84,3.49,27,37,Flight School
2,Shame,2009,80,81,45,-6,47,3.56,17,37,Flight School
3,Dreamer,2009,74,49,78,-10,25,4.15,6,38,Flight School
4,Get Sum,2009,142,83,75,-6,82,4.29,2,35,Flight School

To Do:
1. popularity vs time
2. correlation between metrics and popularity - use ggpairs
3. more advanced ml models - xgboost
4. metrics for each album (avg popularity by album, incorporate sales/playback data)
5. see what differentiates top 5 songs from the rest
6. ML